
header, footer {
    text-align: center;
    color: whitesmoke;
    font-size: 50px;
    background: #333;
    padding: 15px 0;

    margin-bottom: 20px;
    min-width: 100%;
}

.gridStyle {
    border: 1px solid rgb(212, 212, 212);
    width: 400px;
    height: 300px
}

.projectDescription {
    font-size: 22px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-right: 50px;
}
.projectList {
    background-color: ghostwhite;
}

.newProject textarea {
    height: 150px;
}
.info {
    color: darkred;
    font-size: 18px;
}

.project {
    font-size: 22px;
    background-color: gainsboro;
}

.project span:first-of-type {
    margin-top: 10px;
    padding: 5px;
    border: 2px solid #808080;

}

.votes {
    background-color: gainsboro;
    padding-right: 15px;
}