@()
<!DOCTYPE html>
<html ng-app="Projects">
<head>
    <title>@Messages("title")</title>

    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("lib/bootstrap-rtl-3.0.0/css/bootstrap-rtl.css")">
    <!--<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">-->
</head>
<body>
       @Messages("greeting")

       <script type="text/javascript" src="@routes.Assets.at("lib/angular-1.2.0-rc.2/angular.js")"></script>
       <script type="text/javascript" src="@routes.Assets.at("javascripts/app.js")"></script>
</body>
</html>